* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Bengali', serif;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;   
}

/*  Navigation Bar  */


.container {
    padding: 5px 50px 0 50px;
    background-color: rgba(0, 0, 0, 0.775);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
}



nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    color:  #ffa600 ;
    font-size: 25px;
}

.menu-bar li {
    border-bottom: 3px solid #ffa600 ;
    font-weight: 600;
    margin-right: 50px;
    padding: 10px;
}

ul li a {
    color: white;
    font-size: 18px;
}

ul li a:hover {
    background-color:#ffa600 ; 
    color: white;
    padding: 10px; 
}


/*     banner section   */

.banner {
    padding: 20px 50px 0 50px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.401);
    height: 420px;
    margin: 120px 50px 50px 50px;
    
}

.banner-img {
    margin: 10px;
}

.banner-text {
    margin: 8px;
}



.banner-text h4 {
    font-size: 27px;
    display: flex;
    justify-content: center;
}

.banner-text p {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}


/*     section ruja    */

.ruja {
    padding: 120px 50px 20px 50px;
    background-color: #ffa6007d;
    color: rgb(8, 8, 8);
    display: grid;
    grid-template-rows: auto auto;    
}

.ruja img {
    height: 400px;
    width: 70%;
    margin: 30px 15% 0 15%;   
}

.ruja h2 {
    font-size: 32px;
    text-align: center;
    margin: 40px 0 20px 0;
}

.ruja p {
        font-size: 20px;
        font-weight: 400;
}

.ruja-ki , .rujar-fojilot {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 35px 35px 35px 0;   
}

.rujar-fojilot {
    margin-top: 30px;
}

.rujar-fojilot p {
    margin-top: 40px;
}


/*   section amol */


.rujar-amol, .dua {
    padding: 105px 50px 0 50px;
}

.rujar-amol h2 , .dua h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color:#ffa600 ; 
    border-bottom: 2px solid gray;
    padding-bottom: 20px;

}

.rujar-amol-img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.rujar-amol-img img {
    height: 200px;
    width: 25%;
}

.rujar-amol-img img ,.dua img {
    border-radius: 10px;
    box-shadow:  0px 8px 15px 5px gray;
}

.rujar-amol-text {
   margin: 30px ;
}

.rujar-amol-text p,.dua p {
    font-size: 20px;
    font-weight: 400;  
}

/*   section dua    */

.dua-img {
    text-align: center;
}

.dua img {
    height: 300px;
    width: 40%;
}

.dua p {
    margin-top: 30px;
}

/*  section Ramadan-Iftar-Sehri-Time */

.calender {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
}

.calender img {
        height: auto;
        width: 80%;
        margin: 10px 60px;       
}


/*    footer     */

footer {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.775);
    width: 100%;
}

footer p {
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
}



        /* 
		  ##Device = Low Resolution Tablets, Mobiles (Landscape)
		  ##Screen = B/w 481px to 767px
		*/

		@media (min-width: 601px) and (max-width: 900px) {
            .banner {   
                display:block;           
                height: auto;
                margin-left: 8px;
                margin-right: 8px;
                padding: 5px;
             
            }
            .banner-img img {
                margin: 2px;
                width: 100%;
                height: auto;
            }
          
          }
          
          /* 
            ##Device = Most of the Smartphones Mobiles (Portrait)
            ##Screen = B/w 320px to 479px
          */
  
          @media (min-width: 375px) and (max-width: 600px) {
            .container {
                padding: 10px 50px 5px 50px;
                margin: 0 5px;
            }
            

              
             .menu-bar li {
                 display: none;
             }

             .banner {   
                 display:block;           
                 height: auto;
                 margin-left: 8px;
                 margin-right: 8px;
                 padding: 5px;
              
             }

             .banner-img img {
                margin: 2px;
                width: 100%;
                height: auto;
            }
            .banner-text {
                padding: 5px;
            }
            .banner-text h4 {
                font-size: 30px;
                
            }
            .banner-text p ,.ruja p {
                font-size: 20px;
                text-align: justify;
                
            }

            .ruja {
                padding: 50px 10px 5px 10px;

            }
            .ruja img {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
            }
            .ruja h2 {
                margin: 10px 0 ;
            }

            .rujar-amol {
                padding: 50px 10px 0 10px;
            }
            .rujar-amol h2 , .dua h2 {
                margin-top: 10px;
                
            }
            .rujar-amol-img img {
               display: block;
               height: auto;
               width: 100%;
               
            }
            #img1 {
                display: none;
            }

            .dua {
                padding: 20px 10px 0 10px;
            }

            .dua img {
                height: auto;
                width: 100%;
                
            }

            .calender img {
                height: auto;
                width: 100%;
                margin: 5px 2px;
            }





            
            

           
            
          }







